<%= form_with(id: html_id, model: family_member, url: form_url, method: form_method, local: true) do |form| %>
  <div class="flex justify-between items-center">
    <div>
      <p class="mb-2">
        <%= form.select(:relationship, FamilyMember.relationship_options, { include_blank: "関係性を選択" }, class: "w-[200px] mr-2 mb-2 p-2 border-1 border-gray-500 rounded-md bg-white") %>
      </p>
      <p class="mb-2">
        <%= form.text_field(:display_name, placeholder: "名前(任意)", class: "w-[200px] mr-2 mb-2 p-2 border-1 border-gray-500 rounded-md bg-white") %>
      </p>
      <p class="mb-4">
        <%= form.check_box(:cohabiting) %>
        <%= form.label(:cohabiting, "同居している") %>
      </p>
      <p>
        <%= form.date_field(:birth_date, class: "w-[200px] mr-2 mb-2 p-2 border-1 border-gray-500 rounded-md bg-white") %>
        <p class="text-gray-500 text-sm">
          生年月日の入力は任意です。自分以外には年齢として表示されます。小中学生の場合は学年も併記します。
        </p>
      </p>
    </div>
    <div>
      <%= form.submit("保存する", disabled: family_member.new_record?, class: "bg-indigo-600 hover:bg-indigo-700 text-white font-medium py-2 px-4 text-sm rounded-md cursor-pointer disabled:opacity-50 disabled:cursor-not-allowed") %>
    </div>
  </div>
<% end %>
