<% content_for :title, "わたしの地域" %>

<% @member_regions.each do |member_region| %>
  <div class="bg-gray-200 mb-4 p-4 rounded-md flex justify-between items-center">
    <div>
      <p class="text-xl font-bold"><%= member_region.region.name %></p>
      <p class="text-gray-500"><%= member_region.category %></p>
    </div>
    <div>
      <%= link_to("削除", member_region_path(member_region), data: { turbo_method: :delete }, class: "text-red-500") %>
    </div>
  </div>
<% end %>

<%= form_with(id: "new-member-region-form", model: MemberRegion.new, url: member_regions_path, method: :post) do |form| %>
  <div class="flex justify-between items-center">
    <div>
      <%= form.select(:category, MemberRegion.categories.map { [_1[0].titleize, _1[0]] }, {}, class: "w-[200px] mr-2 mb-2 p-2 border-1 border-gray-500 rounded-md bg-white") %>
      <%= form.select(:region_id, Region.all.map { [_1.name, _1.id] }, { include_blank: "地域を選択" }, class: "w-[200px] p-2 border-1 border-gray-500 rounded-md bg-white") %>
    </div>
    <div>
      <%= form.submit("登録する", disabled: true, class: "bg-rose-500 text-white px-4 py-2 rounded-md hover:cursor-pointer disabled:opacity-40") %>
    </div>
  </div>
<% end %>
