<% content_for(:title) { "みんなのスケジュール" } %>

<h2 class="text-2xl font-bold mb-4">
  みんなのスケジュール
</h2>
<% @dates.each.with_index do |date, index| %>
<div class="mb-6">
  <h3 class="text-2xl font-bold mb-2">
    <%= mdw(date) %>
  </h3>
  <table class="w-full">
    <tbody>
      <% Schedule.slots.keys.each do |slot| %>
        <tr>
          <td class="border-solid border-2 border-gray-200 p-2 w-[100px] text-center">
            <%= Schedule.time_of(slot) %>
            <br>
            <%= Schedule.name_of(slot) %>
          </td>
          <td class="border-solid border-2 border-gray-200 p-2 space-y-2">
            <% schedules = @schedules.where(date: date, slot: slot) %>
            <% if schedules.ok.count > 0 %>
              <div>
                <% schedules.ok.each do |schedule| %>
                  <%= link_to(schedule.member) do %>
                    <%= image_tag(schedule.member.icon_url, size: 32, class: "inline-block rounded-full mr-1") %>
                  <% end %>
                <% end %>
              </div>
            <% end %>
            <% if schedules.ng.count > 0 %>
              <div>
                <% schedules.ng.each do |schedule| %>
                  <%= link_to(schedule.member) do %>
                    <%= image_tag(schedule.member.icon_url, size: 32, class: "inline-block rounded-full mr-1 opacity-30") %>
                  <% end %>
                <% end %>
              </div>
            <% end %>
            <% if schedules.count == 0 %>
              まだ登録がありません
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% if index < 3 %>
    <%= link_to("担当を決める", schedule_assignments_path(date), class: "inline-block w-full text-center font-bold mt-4 px-4 py-2 bg-sky-400 text-white rounded-md") %>
  <% end %>
</div>
<% end %>
