<h2 class="text-2xl font-bold mb-4">
  みんなのスケジュール
</h2>
<% @dates.each do |date| %>
<div class="mb-6">
  <h3 class="text-xl font-bold mb-2">
    <%= "%d/%d" % [date.month, date.day] %> (<%= %w[日 月 火 水 木 金 土][date.wday] %>)
  </h3>
  <% schedules = @schedules.where(date: date).order(:status) %>
  <% if schedules.count > 0 %>
  <ul>
  <% schedules.each do |schedule| %>
    <li class="mb-3 <%= schedule.status_before_type_cast == 2 ? "opacity-50" : nil %>">
      <%= image_tag(schedule.member.icon_url, size: 32, class: "inline-block rounded-full mr-1") %>
      <span class="inline-block w-[130px]"><%= schedule.member.name %></span>
      <span><%= schedule.status_in_symbol %></span>
      <% if schedule.memo.present? %>
      <p class="mt-2 p-2 bg-white rounded-md shadow-md relative before:content-[''] before:absolute before:bottom-full before:left-[8px] before:border-8 before:border-transparent before:border-b-white"><%= schedule.memo %></p>
      <% end %>
    </li>
  <% end %>
  </ul>
  <% else %>
  <p class="text-gray-500">
    まだ登録がありません
  </p>
  <% end %>
</div>
<% end %>
