<h2 class="text-2xl font-bold mb-4">
  みんなのスケジュール
</h2>
<% @dates.each.with_index do |date, index| %>
<div class="mb-6">
  <h3 class="text-xl font-bold mb-2">
    <%= mdw(date) %>
  </h3>
  <% Schedule.slots.keys.each do |slot| %>
    <h4 class="text-lg font-bold mb-2"><%= slot %></h4>
    <% schedules = @schedules.where(date: date, slot: slot).order(:status) %>
    <% if schedules.count > 0 %>
    <ul>
    <% schedules.each do |schedule| %>
      <li class="mb-3 <%= schedule.status_before_type_cast == 2 ? "opacity-50" : nil %>">
        <%= image_tag(schedule.member.icon_url, size: 32, class: "inline-block rounded-full mr-1") %>
        <span class="inline-block w-[130px]"><%= schedule.member.name %></span>
        <span><%= schedule.status_in_symbol %></span>
        <% if schedule.memo.present? %>
        <p class="mt-2 p-2 bg-white rounded-md shadow-md relative before:content-[''] before:absolute before:bottom-full before:left-[8px] before:border-8 before:border-transparent before:border-b-white"><%= schedule.memo %></p>
        <% end %>
      </li>
    <% end %>
    </ul>
    <% else %>
    <p class="text-gray-500">
      まだ登録がありません
    </p>
    <% end %>
  <% end %>
  <% if index < 2 %>
    <%= link_to("担当者を決める", schedule_assignments_path(date), class: "inline-block w-full text-center font-bold px-4 py-2 bg-sky-400 text-white rounded-md") %>
  <% end %>
</div>
<% end %>
