<% content_for :title, "わたしの家族" %>

<section>
  <h2 class="text-xl md:text-2xl font-bold mb-2">家族を登録する</h2>
  <p class="text-gray-500 text-sm mb-6">
    コミュニティのみなさんに共有したい家族を登録しましょう。子どもだけを登録するもよし、実家にいる家族を登録するもよし。
  </p>
  <%= render("family_members/form", html_id: "new-family-member-form", family_member: FamilyMember.new, form_url: family_members_path, form_method: :post) %>
</section>

<section class="mt-8">
  <h2 class="text-xl md:text-2xl font-bold mb-4">登録家族の一覧</h2>
  <% @family_members.each do |family_member| %>
    <div class="bg-gray-200 mb-4 p-4 rounded-md flex justify-between items-center">
      <div>
        <span class="font-bold"><%= family_member.relationship_in_japanese %></span>
        <% if family_member.display_name %>
          <span>/ <%= family_member.display_name %></span>
        <% end %>
        <% if family_member.cohabiting %>
          <span>/ 同居</span>
        <% end %>
        <% if family_member.birth_date %>
          <span>/ <%= family_member.birth_date.strftime("%Y年%-m月%-d日") %>生まれ</span>
        <% end %>
        <% if family_member.age %>
          <span>/ <%= family_member.age %>歳</span>
        <% end %>
        <% if family_member.school_grade_jp %>
          <span>/ <%= family_member.school_grade_jp %></span>
        <% end %>
      </div>
      <div>
        <%= link_to("編集", edit_family_member_path(family_member), class: "text-blue-500 mr-2") %>
        <%= link_to("削除", family_member_path(family_member), data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" }, class: "text-red-500") %>
      </div>
    </div>
  <% end %>
</section>
