<div class="schedules">
<h2>
  わたしのスケジュール
</h2>
<%= form_with(url: schedules_path, method: :post, data: { turbo: false }) do |f| %>
  <% @dates.each do |date| %>
    <div class="schedule-form">
      <div class="schedule-date-and-status">
        <% schedule = current_member.schedules.find_or_initialize_by(date: date) %>
        <% status_selected = schedule.new_record? ? nil : schedule.status_before_type_cast %>
        <span class="date"><%= "%d月%d日" % [date.month, date.day] %> (<%= %w[日 月 火 水 木 金 土][date.wday] %>)</span>
        <%= hidden_field_tag("schedules[][date]", date) %>
        <%= hidden_field_tag("schedules[][status]", status_selected, id: "#{date}-status") %>
        <span class="status-selection">
          <%= image_tag("status-ok.png", size: 32, data: { status: 0, date: date.to_s }, class: "clickable #{'selected' if status_selected == 0}") %>
          <%= image_tag("status-ng.png", size: 32, data: { status: 2, date: date.to_s }, class: "clickable #{'selected' if status_selected == 2}") %>
        </span>
      </div>
      <div class="schedule-memo">
        <%= text_field_tag("schedules[][memo]", schedule.memo, placeholder: "メモ") %>
      </div>
    </div>
  <% end %>
  <%= f.submit("スケジュールを保存する") %>
<% end %>
</div>
