<div class="max-w-7xl mx-auto pb-4">
  <%= render "shared/access_restriction_notice" %>
  <div class="mb-8 sm:mb-12">
    <div class="mb-4">
      <h3 class="text-xl font-bold text-gray-900">メモ一覧 (全<%= @school_memos_count %>件 / P.<%= @page %>)</h3>
    </div>

    <% if @school_memos.exists? %>
      <div class="mt-6 mb-6">
        <%= paginate(@school_memos, theme: 'tailwind') %>
      </div>
      <div class="space-y-4 sm:space-y-6">
        <%= render partial: "block", collection: @school_memos, as: :memo %>
      </div>
      <div class="mt-6">
        <%= paginate(@school_memos, theme: 'tailwind') %>
      </div>
    <% else %>
      <p class="text-sm text-gray-500">メモはまだありません</p>
    <% end %>
  </div>
</div>

<%= link_to new_school_memo_path, class: "fixed bottom-4 right-4 bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-3 px-6 rounded-md shadow-lg print:hidden" do %>
  メモを追加
<% end %>
