<% content_for(:title) { "みんなの居住地" } %>

<section>
  <h2 class="text-2xl font-bold mb-4">
    みんなのゆかりの地
  </h2>

  <% @regions.each do |region| %>
    <h3 class="text-xl mb-2">
      <%= region.name %>
    </h3>
    <ul class="flex flex-wrap gap-4 mb-5">
      <% region.member_regions.each do |member_region| %>
        <li class="flex items-center space-x-2">
          <%= link_to(member_region.member, class: "flex items-center space-x-2") do %>
            <%= image_tag(member_region.member.icon_url, size: "32x32", class: "rounded-full") %>
            <div>
              <span class="font-bold"><%= member_region.member.name %></span><br>
              <span class="text-sm text-gray-500"><%= member_region.category_short %></span>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
</section>
