<% content_for(:title) { @member.name } %>

<header class="text-center">
  <%= image_tag(@member.icon_url, size: "128x128", class: "rounded-full mx-auto") %>
  <h2 class="mt-4 text-2xl font-bold">
    <%= @member.name %>
  </h2>
</header>

<section class="mt-4 text-center bg-gray-200 p-4 rounded-md">
  <h3 class="mb-2 text-xl font-bold">コミュニティ参加時期</h3>
  <p>
    <% if @member.server_joined_at %>
      <%= @member.generation %>期生 (<%= @member.server_joined_at.strftime("%Y-%m-%d") %>)
    <% else %>
      <span class="text-gray-500">データなし<br>再ログインすると保存されます</span>
    <% end %>
  </p>
</section>

<section class="mt-4 text-center bg-gray-200 p-4 rounded-md">
  <h3 class="mb-2 text-xl font-bold">家族</h3>
  <% if @family_members.count > 0 %>
    <div class="flex flex-wrap gap-2 justify-center">
      <% @family_members.each do |family_member| %>
        <p class="bg-white rounded-md p-2">
          <% if family_member.cohabiting %><span>🏠️</span><% end %>
          <span class="font-bold text-lg"><%= family_member.relationship_in_japanese %></span>
          <span><%= family_member.display_name %></span>
          <% if family_member.school_grade_jp %>
            <span>(<%= family_member.school_grade_jp %>)</span>
          <% elsif family_member.age %>
            <span>(<%= family_member.age %>歳)</span>
          <% end %>
        </p>
      <% end %>
    </div>
  <% else %>
    <p>登録されていません</p>
  <% end %>
  <% if @member == current_member %>
    <p class="mt-2">
      <%= link_to("編集する", my_family_members_path, class: "underline text-blue-500") %>
    </p>
  <% end %>
</section>

<section class="mt-4 text-center bg-gray-200 p-4 rounded-md">
  <h3 class="mb-2 text-xl font-bold">ゆかりのある地</h3>
  <% if @member.member_regions.count > 0 %>
    <table class="w-full">
      <tbody>
        <% @member.member_regions.order(:category).each do |member_region| %>
          <tr>
            <td class="text-right w-1/2"><span class="text-lg font-bold"><%= member_region.region.name %></span></td>
            <td class="text-left w-1/2 pl-1"><span class="text-gray-500"><%= member_region.category_short %><span></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>登録されていません</p>
  <% end %>
  <% if @member == current_member %>
    <p class="mt-2">
      <%= link_to("編集する", my_regions_path, class: "underline text-blue-500") %>
    </p>
  <% end %>
</section>
